<% layout('layout/boilerplate') -%>
 




        <h1 style="font-weight:400;color:#3C6E71;padding: 1.5rem 0;">Book Now  !</h1>
        
       <form  class="needs-validation" novalidate>
            <div class="mb-3">
                <label class="form-label" for="username">Name:</label>
                <input type="text" class="form-control" name="name"   id="username"  value=<%=listing.location%> disabled>
                
            </div>
            <div class="mb-3">
                <label class="form-label" for="email">From:</label>
                <input type="date" class="form-control" name="from"  placeholder="Enter Date" id="password" required>
            
            </div>
            <div class="mb-3">
                <label class="form-label" for="email">To:</label>
                <input type="date" class="form-control" name="to"  placeholder="Enter DateS" id="password" required>
            
            </div>
            <input type=" text " name="price" hidden value=<%=listing.price%>>
            
            <button class="btn btn-success mb-4">Submit</button>
        </form>
    

<button id="pay-btn">Pay ₹<%= listing.price %></button>

<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script >

  document.getElementById("pay-btn").onclick = async function () {


const amount=<%= listing.price %>



    // Step 1️⃣: Create order from backend
    const response = await fetch("/payment/create-order", {
          method: "POST",
          headers: { "Content-Type": "application/json" },
          body: JSON.stringify({ amount }),
        });
        const order = await response.json();

        var options = {
          key: "<%= process.env.RAZORPAY_KEY_ID %>",
          amount: order.amount,
          currency: order.currency,
          name: "Homelystay",
          description: "Booking Payment",
          order_id: order.id,
          handler: function (response) {
            alert("Payment successful! Payment ID: " + response.razorpay_payment_id);
          },
          prefill: {
            name: "Demo User",
            email: "demo@example.com",
            contact: "9999999999",
          },
          theme: { color: "#3399cc" },
        };

        var rzp1 = new Razorpay(options);
        rzp1.open();
      };
</script>

